@model KinoPolis.Web.ViewModels.Tickets.ReserveViewModel
@{
    ViewData["Title"] = "Reserve Ticket";
}

    <form asp-controller="Tickets" asp-action="PostReserve">
        <div class="form-group">
            <label asp-for="FirstNameOfBuyer">First Name</label>
            <input asp-for="FirstNameOfBuyer" class="form-control">
            <span asp-validation-for="FirstNameOfBuyer"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecondNameOfBuyer">Last Name</label>
            <input asp-for="SecondNameOfBuyer" class="form-control">
            <span asp-validation-for="SecondNameOfBuyer"></span>
        </div>
        <input type="hidden" asp-for="Id" value=@Model.Id />
        <button type="submit" class="btn btn-primary">Get my ticket</button>
    </form>

