
@{
    ViewData["Title"] = "Thank you for reserving";
}

    <div class="jumbotron">
        <h1 class="display-4">Thank you for reserving a ticket.</h1>
        <p class="lead">Your ticket will be in our box-office and you will have to get it at least 30 minutes before the projection.</p>
        <hr class="my-4">
        <p>You can go to our Home Page and see some other films.</p>
        <a class="btn btn-primary btn-lg" href="/Home/Index" role="button">Home Page</a>
    </div>

