@model KinoPolis.Web.ViewModels.Administration.Cinemas.CreateInputModel
@{
    ViewData["Title"] = "Add Cinema";
}
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name">Name of Cinema</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input asp-for="Address" class="form-control">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </form>

