@model KinoPolis.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<ul class="list-unstyled m-top">
    <li class="media border border-dark mt-2">

    </li>
    @foreach (var film in Model.Films)
    {
        <li class=" border border-danger mt-3">
            <div class="border-danger">
                <p>@film.Name <a href=@film.URLDelete class="btn btn-dark float-right ml-2 mr-3">Delete</a><a href=@film.URLAddProjection class="btn btn-dark float-right mr-2">Add Projection</a></p>
            </div>
        </li>
    }
</ul>


